body {
    margin-left: 20px;

}

.chat {
   background-color: lightpink; 
   padding: 20px;
   border-radius: 16px ;
   display: inline-block;
}

.msg{
    background-color: blue;
    color: wheat;
    padding: 5px 15px;
    border-radius: 20px;
}